.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #fff;
}
a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #cbc0d7;
}
a:active {
  text-decoration: none;
  color: #cbc0d7;
}

.navLink {
  color: black;
}
.navLink:link {
  text-decoration: none;
  color: black;
}
.navLink:visited {
  text-decoration: none;
  color: black;
}
.navLink:hover {
  text-decoration: none;
  color: #6f42c1;
}
.navLink:active {
  text-decoration: none;
  color: #6f42c1;
}

.bg-primary {
  background-color: #6200ee;
}

.btn-primary {
  background-color: #6610f2;
  border: #6610f2 solid 3px;
}
.btn-primary:active {
  background-color: #6610f2;
  border: #6610f2 solid 3px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3700b3;
  border-color: #3700b3;
}

.navbar {
  background-color: #6200ee;
}

.btn-secondary {
  color: #6610f2;
  background-color: #d4c9df;
  border-color: #d4c9df;
  border: #d4c9df solid 3px;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #6610f2;
  border-color: #6610f2;
}
.myFooter {
  color: #cbc0d7;
}
.myLabel {
  color: #cbc0d7;
}

/* dark mode: */
body {
  background-color: #1e0230;
  color: #fff;
}

.navLink {
  color: #fff;
}
.navLink:link {
  text-decoration: none;
  color: #fff;
}
.navLink:visited {
  text-decoration: none;
  color: #fff;
}
.navLink:hover {
  text-decoration: none;
  color: #c0b1f4;
}
.navLink:active {
  text-decoration: none;
  color: #c0b1f4;
}

.darkMode.form-control-plaintext {
  color: #fff;
}
.form-control {
  background-color: #d4c9df;
}
.form-select {
  background-color: #d4c9df;
}
/* 
.darkMode.table {
  color: #fff;
}
.darkMode.table-hover > tbody > tr:hover > * {
  color: #d4c9df;
}
.darkMode.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd):hover > * {
  color: #d4c9df;
} */

.darkMode.card {
  background-color: #d4c9df;
  box-shadow: 15px 15px 15px #581375b2;
}

.card-body {
  background-color: #d4c9df;
  color: #000;
}

.myIcon:hover {
  transform: scale3d(1.7, 1.7, 1);
}

.alert-danger {
  background-color: #8811dd;
  color: #fff;
  border-color: #8811dd;
}
.alert-success {
  background-color: #bb86fc;
  color: #fff;
  border-color: #bb86fc;
}
input:-internal-selected {
  background-color: #d4c9df !important;
}
body {
  padding-bottom: 70px;
}
